<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MSCDataTool.Properties.Settings.CRM_PRDConnectionString" connectionString="Data Source=10.9.113.28;Initial Catalog=CRM_PRD;User ID=crmapp;Password=md3c"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
